@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

body {
	--color-rick: rgb(163, 164, 201);
	margin: 0;
	color: #252525;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

button {
	font: inherit;
	cursor: pointer;
}

/* 非pre内的code样式 */
:not(pre) > code {
	transition: background-color 0.2s ease-in-out;
	padding: 0.2em 0.4em;
	margin: 0;
  color: #c7254e!important;
  padding: 2px 4px;
  font-size: 90%;
  background-color: #f9f2f4;
  border-radius: 4px;
}
